version: "3.7"
services:
  web-server:
    image: dxrkn3ss/crud-backend:latest
    restart: always
    ports:
      - "8080:80"
      - "443:443"
    depends_on:
      - db
      - phpmyadmin
    deploy:
      replicas: 1

  db:
    image: dxrkn3ss/crud-mysql:latest
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 'root'
      MYSQL_DATABASE: 'notepaddb'
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    deploy:
      mode: replicated
      replicas: 1


  phpmyadmin:
    image: phpmyadmin/phpmyadmin:5.2.1
    restart: always
    environment:
      PMA_HOST: 'db'
      PMA_USER: 'root'
      PMA_PASSWORD: 'root'
    ports:
      - "5000:80"
    deploy:
      replicas: 1
volumes:
  mysql-data:
    external: true
    name: app_mysql-data
